<div class="container step-by-step">
<tabset justified="true" class="text-center">
	<tab heading="Start A Campaign"><br><br>
		<div class="col-md-7"><img src="../img/about.png"></div>
		<div class="col-md-5"><p>Introduce yourself. Tell us who you are and why you're doing what you're doing. Give a great one line intro to get our creators going, then elaborate on the details you think are important.</p></div>
	</tab>
	<tab heading="Give A Mission"><br><br>
		<div class="col-md-7"><img src="../img/mission.png"></div>
		<div class="col-md-5"><p>Tell our talented creators what you're trying to accomplish. Sharing facts? Need an infographic? Starting a hashtag? We've got you covered. The possibilities are endless, and we're excited to see what you come up with. If you need inspiration, check out our example campaigns or contact us!</p></div>
	</tab>
	<tab heading="Receive Contributions"><br><br>
		<div class="col-md-7"><img src="../img/contributions.png"></div>
		<div class="col-md-5"><p>Our amazing network of creators will take your ideas and turn them into compelling, engaging visuals. Better yet, our community will help rank the submissions through our upvote process so you don't have to stress about separating the good from the bad. Yeah, it can be that easy.</p></div>
	</tab>
	<tab heading="Share"><br><br>
		<div class="col-md-7"><img src="../img/share.png"></div>
		<div class="col-md-5"><p>Now we're getting to the good stuff. Share your favorites directly from the campaign page to your social media accounts. All you have to do is sit back and watch your message take off.</p></div>
	</tab>
</tabset>
</div>

<div class="container"><hr></div>

<div class="container brand-intro text-center">
	<div class="col-sm-4">
		<div class="img-wrap"><img src="../img/engagement.png"></div>
		Increase your engagement.
	</div>
	<div class="col-sm-4">
		<div class="img-wrap-v"><img src="../img/visibility.png"></div>
		Increase your visibility.
	</div>
	<div class="col-sm-4">
		<div class="img-wrap"><img src="../img/impact.png"></div>
		Increase your impact.
	</div>
</div>
