<div class="container step-by-step">
<tabset justified="true" class="text-center">
  <tab heading="Find"><br><br>
    <div class="col-md-7"><img src="../img/about.png"></div>
    <div class="col-md-5"><p>Growing your skills and building your portfolio doesn't have to be a chore, especially when you're passionate about the work. Browse through our active campaigns until you find a message that resonates with you, and let's get going!</p></div>
  </tab>
  <tab heading="Contribute"><br><br>
    <div class="col-md-7"><img src="../img/mission.png"></div>
    <div class="col-md-5"><p>Once you've found something you care about, find out how you can contribute. Carefully read over their campaign mission to understand what kind of visuals the brand needs. Now upload something!</p></div>
  </tab>
  <tab heading="Get Feedback"><br><br>
    <div class="col-md-7"><img src="../img/contributions.png"></div>
    <div class="col-md-5"><p>Here, the feedback is just as important as the contribution. Veteran designers and professors provide constructive feedback through comments and upvotes. (You know, the kind that actually teaches you things.)</p></div>
  </tab>
  <tab heading="Build Your Rep"><br><br>
    <div class="col-md-7"><img src="../img/profile.png"></div>
    <div class="col-md-5"><p>All your amazing contributions are kept in your portfolio on your profile page, and it’s easily shareable to all your favorite networks. You’re not just promoting a cause. You’re building your professional reputation.</p></div>
  </tab>
</tabset>
</div>


<div class="container"><hr></div>

<div class="container brand-intro text-center">
  <div class="col-sm-4">
    <img src="../img/portfolio.png">
    Build your portfolio.
  </div>
  <div class="col-sm-4">
    <img src="../img/network.png">
    Build your network.
  </div>
  <div class="col-sm-4">
    <img src="../img/buildbrand.png">
    Build your brand.
  </div>
</div>
