<div class="container text-center campaignTab">
  <h3>This is here to give you an idea of the types of campaigns you can create and what a potential submission would be. Actual campaigns are open for public submission.</h3>
  <br><br><br>

<tabset justified="true" class="text-center">
  <tab heading="About"><br><br>
    Beneft is a crowdsourcing platform for visual content.<br>We connect world-changers to creators so they can break through the social media noise together.</tab>
  <tab heading="Mission"><br><br>
    We created #BeHeard because we believe people doing great things deserve to be heard above the social media noise. Now we need your help creating graphics that embody our message. We’re focused on social good projects that promote the arts, sharing and saving resources, environmental protection, health, education, and animal rights. We would the images to reflect our definition of social good.
  </tab>
    <tab heading="Contributions" id="contributions">
      <div class="col-sm-3"><img src="../img/example01.png"></div>
      <div class="col-sm-3"><img src="../img/example02.png"></div>
      <div class="col-sm-3"><img src="../img/example03.png"></div>
      <div class="col-sm-3"><img src="../img/example04.png"></div>
    </tab>
</tabset>
</div>
