    <div class="text-center home">
        <h1>Break through the social media noise.</h1>
		<a href="/learn"><button class="btn btn-primary">Learn More</button></a>
    </div>

    <div class="text-center container home-container">
    	<h3>Beneft is a crowdsourcing platform for visual content. We connect brands in need of social media content with creators that need to build their portfolio.</h3>
      <div class="row">
        <div class="col-sm-3">
          <img src="../img/story.png"><br>
          <h4>Brands</h4>
          <p>Brands are non-profits and for-profits working on social good initiatives. Brands post campaigns based on their content needs.</p>
        </div>
        <div class="col-sm-1">
          <span><img src="../img/add.png"></span>
        </div>
        <div class="col-sm-3">
          <img src="../img/creator.png"><br>
          <h4>Creators</h4>
          <p>Creators are designers. Most designers on our platform are upper-level design students, but we encourage designers of all types to join in and contribute.</p>
        </div>
        <div class="col-sm-1">
          <span><img src="../img/equal.png"></span>
        </div>
        <div class="col-sm-4">
          <img src="../img/b.png"><br>
          <h4>Campaigns</h4>
          <p>A campaign is a project posted by a brand. We encourage you to outline your campaign needs but don't be afraid to give our creators artistic freedom. They always deliver.</p>
        </div>
      </div>
    </div>
