<div class="container how">
<h2>Well, hello there.</h2>
<h3>Take a second to introduce yourself.</h4>
<br><br><br>
<h4>Which of these sounds more like you?</h4>
<div class="row">
<div class="col-sm-6">
	<a href="/brand">
	<img src="../img/brand.png">
	<h4>Awesome Brand</h4></a>
	<p>Whether you're a non-profit or a for-profit, your mission is to make this world a better place. We'll help you get the word out.</p>
</div>
<div class="col-sm-6">
	<a href="/creative">
	<img src="../img/creator.png">
	<h4>Skilled Creator</h4></a>
	<p>Whether in school or self-taught, you're a pixel throwing pro looking to hone your skills. We'll help you find work that matters.</p>
</div>
</div>
</div>
