<div class="container campaignTab text-center">
  <h3>This is here to give you an idea of the types of campaigns you can create and what a potential submission would be. Actual campaigns are open for public submission.</h3>
  <br><br><br>
<tabset justified="true" class="text-center">
  <tab heading="About"><br><br>
    Beneft is a crowdsourcing platform for visual content.<br>We connect world-changers to creators so they can break through the social media noise together.</tab>
  <tab heading="Mission"><br><br>
    <b>We need an infographic that includes the following statistics:</b>
    <br>
    People remember 10% of what they hear.<br>
    People remember 20% of what they read.<br>
    80% of what they see or do.<br>
    Images get 120% more engagement on Facebook.<br>
    Images are 94% more likely to be re-tweeted.<br>
    44% of users are more likely to engage with brands if they post pictures.<br></tab>
  <tab heading="Contributions"><div class="text-center infograph"><img src="../img/infographic.png"></div></tab>
</tabset>
</div>
